<div class="page-header">
  <h1>Products Active</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Brand</th>
    <th>Title</th>
    <th>Price</th>
    <th>Category</th>
    <th>Date added to Shopbop</th>
    <th>Retailer product count</th>
    <th></th>
  </tr>
  </thead>
  <% @active_products.each do |active_product| %>
    <tr>
      <td><%= active_product.brand.try(:name) %></td>
      <td><%= link_to active_product.title, active_show_products_path(active_product) %></td>
      <td><%= active_product.price %></td>
      <td><%= active_product.category %></td>
      <td><%= active_product.shopbop_added_at.to_s(:long) %></td>
      <td><%= active_product.retailers_count %></td>
      <td><%= link_to 'Show', active_show_products_path(active_product), class: 'btn btn-default btn-xs' %></td>
    </tr>
  <% end %>
</table>

<div class="row">
  <div class="col-sm-8">
    <%= paginate @active_products %>
  </div>
</div>
