<div class="page-header">
  <h1>Products</h1>
</div>

<button class="btn btn-primary" role="button" data-toggle="collapse" data-target="#filterbox">Show/hide filter</button>
<div class="filter collapse<%= ' in' if !@search || ((!params[:page] || params[:page] == 1) && @products.size == 0) %>" id="filterbox">
  <h2>Filter</h2>
  <%= form_tag products_path, method: :get do %>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'filter_brand_id', 'Brand' %>
          <div class="row">
            <div class="col-sm-12">
              <%= select_tag 'filter[brand_id]', ("<option value=''>All</option>" + options_from_collection_for_select(@filter_brands, :id, :name, (params[:filter] && params[:filter][:brand_id]))).html_safe, class: "form-control select2", style: 'width: 100%; height: 34px;' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'filter_source', 'Source' %>
          <%= select_tag 'filter[source]', options_for_select(@sources, (params[:filter] && params[:filter][:source])), class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'filter_style_code', 'Style Code' %>
          <%= text_field_tag 'filter[style_code]', (params[:filter] && params[:filter][:style_code]), class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'filter_retailer', 'Retailer' %>
          <%= text_field_tag 'filter[retailer]', (params[:filter] && params[:filter][:retailer]), class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="checkbox">
          <label for="filter_no_upc">
            <%= check_box_tag 'filter[no_upc]', '1', (params[:filter] && params[:filter][:no_upc]) %> Without UPC
          </label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Search</button>
  <% end %>
</div>

<br>
<br>

<% if @search %>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Source</th>
      <th>Size</th>
      <th>Color</th>
      <th>Style Code</th>
      <th>UPC</th>
      <th>Retailer</th>
      <th>Category</th>
      <th></th>
    </tr>
    </thead>
    <% @products.each do |product| %>
      <tr class="<%#= 'warning' if product.source == 'shopbop' %>">
        <td><%= product.title %></td>
        <td><%= product.brand.try(:name) %></td>
        <td><%= product.source %></td>
        <td><%= product.size %></td>
        <td><%= product.color %></td>
        <td><%= product.style_code %></td>
        <td><%= product.upc %></td>
        <td><%= product.retailer %></td>
        <td><%= product.category %></td>
        <td>
          <%= link_to 'Source link', product.url, class: 'btn btn-default btn-xs', target: :_blank if product.url.present? %>
          <%= link_to 'Match', match_path(product_id: product.id), class: 'btn btn-default btn-xs', target: :_blank if product.source.in?(Product::MATCHED_SOURCES) %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="row">
    <div class="col-sm-8">
      <%= paginate @products %>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Export All', export_products_path(filter: params[:filter]), class: 'pull-right btn btn-success', style: 'margin: 20px 0;' %>
    </div>
  </div>

<% else %>
  <p class="text-danger">Use filter to see products</p>
<% end %>