<div class="row">
  <div class="col-sm-5">
    <h3>Last matched</h3>
    <table class="table">
      <thead>
      <tr>
        <th>File</th>
        <th>Lines amount</th>
        <th>Last time update</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link[1] %></td>
          <td><%= link[2] %></td>
          <td><%= link[3].strftime('%b %d %Y %H:%M:%S') %></td>
          <td><%= link_to 'Open', link[0], target: :_blank %></td>
        </tr>
      <% end %>

      </tbody>
    </table>


    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id="chart-db" class="chart-general" style="width: 100%;height: 400px;"
         data-chart-name="Data in DB"
         data-values="<%= @chart_db.to_json %>"></div>
  </div>
  <div class="col-sm-6">
    <div id="chart-shopbop-file" class="chart-general" style="width: 100%;height: 400px;"
         data-chart-name="Data in live product file"
         data-values="<%= @chart_shopbop_file.to_json %>"></div>
  </div>
  <div class="col-sm-6">
    <div id="chart-matching" class="chart-general" style="width: 100%;height: 400px;"
         data-chart-name="Matching data"
         data-values="<%= @chart_matching.to_json %>"></div>
  </div>
</div>



