<div class="row">
  <div class="col-sm-5">
    <h3>Last matched</h3>
    <ul>
      <li><%= link_to 'Current week', '/downloads/shopbop_products_upc.csv', target: :_blank %> (<%= File.readlines('public/downloads/shopbop_products_upc.csv').size %>)</li>
    <% @links.each do |link| %>
    <li><%= link_to link[1], link[0], target: :_blank %> (<%= link[2] %>)</li>
    <% end %>
    </ul>
  </div>
</div>
<div id="stat-chart" style="width: 100%;height: 400px;" data-values="<%= @chart.to_json %>"></div>