<div class="row">
  <div class="col-sm-12">
    <div class="btn-group pull-right">
      <%= link_to 'Export All', products_selected_export_path, class: 'btn btn-success' %>
      <%= link_to 'Export only Found', products_selected_export_path(only: :found), class: 'btn btn-success' %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <td>Title</td>
    <td>Found Match</td>
    <td>No Match</td>
    <td>No Color Match</td>
    <td>No Size Match</td>
    <td>AVG Similarity</td>
    <td>UPC</td>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product[:product].title, match_path(product_id: product[:product].id) %></td>
      <td><%= product[:found_votes] %></td>
      <td><%= product[:nothing_votes] %></td>
      <td><%= product[:no_color_votes] %></td>
      <td><%= product[:no_size_votes] %></td>
      <td><%= product[:avg_similarity] %></td>
      <td><%= product[:selected].upc if product[:selected] %></td>
    </tr>
  <% end %>
  </tbody>
</table>