<table class="table statistic-table pretty table-hover">
  <thead>
  <tr>
    <th><%= sortable 'name', 'Brand Name' %></th>
    <th><%= sortable 'stats.shopbop_size', 'Shopbop Products' %></th>
    <th><%= sortable 'stats.shopbop_noupc_size', 'Shopbop Products without UPC' %></th>
    <th><%= sortable 'stats.shopbop_matched_size', 'Shopbop Products Matched' %></th>
    <th><%= sortable 'stats.shopbop_nothing_size', 'Shopbop Products Nothing' %></th>
    <th><%= sortable 'stats.amounts_values', 'Other sources Products with UPC' %></th>
    <th><%= sortable 'stats.suggestions', 'Products with Suggestions' %></th>
    <th><%= sortable 'stats.suggestions_green', 'Green Suggestions Products' %></th>
    <th><%= sortable 'stats.suggestions_yellow', 'Yellow Suggestions Products' %></th>
    <th><%= sortable 'stats.new_match_today', 'New today' %></th>
    <th><%= sortable 'stats.new_match_week', 'New this week' %></th>
  </tr>
  </thead>
  <tbody>
  <% @brands.each do |brand| %>
    <tr data-id="<%= brand.id %>">
      <td><%= link_to brand.name, match_path(brand_id: brand.id), target: :_blank, title: "Stat Updated: #{brand.stat.updated_at.strftime('%Y-%m-%d %H:%M:%S')}" %></td>
      <td><%= brand.stat.shopbop_size %></td>
      <td><%= brand.stat.shopbop_noupc_size %></td>
      <td><%= brand.stat.shopbop_matched_size %></td>
      <td><%= brand.stat.shopbop_nothing_size %></td>
      <td>
        <span data-toggle="popover" data-trigger="hover" data-html="true" data-content="<%= brand.stat.amounts_content %>"><%= brand.stat.amounts_values %></span>
      </td>
      <td><%= brand.stat.suggestions %></td>
      <td><%= link_to brand.stat.suggestions_green, match_path(brand_id: brand.id, has_color: :green), target: :_blank if brand.stat.suggestions_green %></td>
      <td><%= brand.stat.suggestions_yellow if brand.stat.suggestions_yellow %></td>
      <td><%= brand.stat.new_match_today %></td>
      <td><%= brand.stat.new_match_week %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-8">
    <%= paginate @brands %>
  </div>
  <div class="col-sm-4">
    <%= link_to 'Export', products_statistic_export_path, class: 'pull-right btn btn-success', style: 'margin: 20px 0;' %>
  </div>
</div>
