<table class="table statistic-table pretty">
  <thead>
  <tr>
    <th><%= sortable 'name', 'Brand Name' %></th>
    <th><%= sortable 'stats.shopbop_size', 'Shopbop Products' %></th>
    <th><%= sortable 'stats.shopbop_noupc_size', 'Shopbop Products without UPC' %></th>
    <th><%= sortable 'stats.shopbop_matched_size', 'Shopbop Products Matched' %></th>
    <th><%= sortable 'stats.amounts_values', 'Other sources Products' %></th>
    <th><%= sortable 'stats.suggestions', 'Products with Suggestions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @brands.each do |brand| %>
    <tr data-id="<%= brand.id %>">
      <td><%= link_to brand.name, match_path(brand_id: brand.id), target: :_blank %></td>
      <td><%= brand.stat.shopbop_size %></td>
      <td><%= brand.stat.shopbop_noupc_size %></td>
      <td><%= brand.stat.shopbop_matched_size %></td>
      <td>
        <span data-toggle="popover" data-trigger="hover" data-html="true" data-content="<%= brand.stat.amounts_content %>"><%= brand.stat.amounts_values %></span>
      </td>
      <td><%= brand.stat.suggestions %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @brands %>